<h3 class="ui header">{{t "forms.i-i-s-fffffff-анкета-клиента-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерКомнаты
      class=(if (v-get validationModel "номерКомнаты" "isInvalid") "error")
      label=(t "forms.i-i-s-fffffff-анкета-клиента-e.номерКомнаты-caption")
      data-test-i-i-s-fffffff-анкета-клиента-e-номерКомнаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерКомнаты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-fffffff-анкета-клиента-e.прибытие-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.прибытие
      class=(if (v-get validationModel "прибытие" "isInvalid") "error")
      data-test-i-i-s-fffffff-анкета-клиента-e-прибытие=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "прибытие" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-fffffff-анкета-клиента-e.убытие-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.убытие
      class=(if (v-get validationModel "убытие" "isInvalid") "error")
      data-test-i-i-s-fffffff-анкета-клиента-e-убытие=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "убытие" "message")}}
  </div>
</form>
